.header{
    display:flex;
    justify-content: space-between;
    /* border:1px solid black; */
    background-color: #f0f0f0;
    height:80px;
}
.logo{
    width:130px;
    height:100px;
    /* max-height: fit-content; */
    position:fixed;
    top:0;
    left:0;
}
.login{
    cursor:pointer;
    font-size:19px;
    padding: 10px 20px;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.Nav-items > ul{
    font-size:20px;
    display:flex;
    list-style-type: None;  
    padding:0px 20px;
    position:fixed;
    top:0;
    right:0;
}
.filter-btn{
    margin-left:10px;
}
.Nav-items>ul>li{
    margin:20px; 
    
}
.body{
    margin-top:5px;
}
.search-button{
    font-size: 20px;
    margin-left: 4px;
}
.restaurant-container{
    padding:1px 0;
    margin-left: -4px;
    display:flex;
    flex-wrap:wrap
}

.res-card{
    width:270px;
    height:380px;
    border:1px solid black;
    padding:2px 2px;
    transition: transform 0.1s ease-in-out;
    margin:5px;
}
.res-card:hover{
    cursor:pointer;
    border:1px solid black;
    transform: scale(1.02);
}
.res-card h3{
    margin-block: 10px;
}
.res-card h4{
    margin-block: 10px;
}

.res-logo{
    width:256px;
    height:196;
    padding:2px 2px;
}